.splicer-main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
}

.splicer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #131313;
}

.track-pages {
    display: flex;
    justify-self: center;
    margin: 20px;
}

.track-page-btn {
    width: 20px;
    height: 20px;
    color: white;
    background: rgba(0,0,0,0.2);
    border: 1px solid white;
    border-radius: 40px;
    margin: 5px;
    &:hover {
        cursor: pointer;
        background: rgba(255,255,255, .1);
    }

    &:focus {
        outline: none
    }
}

.splicer-sample-selector{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:100%;
    
}
.splicer-sample-header{
    background:#282828;
    width:100%;
    height:70px;
    display: flex;

}
.splicer-sample-tracks{
    display:grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    width:100%;
    min-height: 130px;
   
}

