@mixin inputTrack() {
    background: #ddd;
    height: 40px;
    background: #ddd;
}



.splicer {
    width: 100%;
    .splice-header {
        width: 100%;
       
        
        background: $backgroundSecondary;

        .splicer-engine {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            .splicer-header-left {
                display: flex;
                justify-content: left;
                align-items: center;
            }

            .splicer-header-right {
                display: flex;
                justify-content: right;
                align-items: center;
            }

            label {
                width: 40px;
                margin: 5px;
                display: flex;
                justify-content: flex-end;
            }

            .clear-btn, .save-btn {
                height: 100%;
                
                // border-left: 1px solid black;
                // border-right: 1px solid black;
             
            }

        }
    }


    .clear-button, .save-button {
        height: 100%;
        border-radius: 15px;
        background: white;
        opacity: .9;
        margin: 0 5px;  
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
    }


    .play-button {
        height: 100%;
        background: white;
        &:hover {
            cursor: pointer;
        }
    }
    
    .stop-button {
        height: 100%;
        background: white;
        &:hover {
            cursor: pointer;
        }
    }
    
    .play-button, .stop-button {
        width: 100px;
        height: 40px    ;
        font-size: 25px;
        color: black;
        border: none;
    }



    .clear-button, .save-button {
        font-size: 20px;
        height: 40px;
        width: 100px;
        i {
            margin: 5px;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            opacity: .8;
        }
        color: black;
        border: none;
    }
    
    .play-buttons {
        height: 100%;
    }

    #bpm-input {
        height: 40px;
        margin: 0;
    }


    .volume-input { 
        box-sizing: border-box;
        margin: 0;
        border: none;
        -webkit-appearance: none;
        position: relative;
        overflow: hidden;
        height: 30px;
        width: 100px;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        // border: 2px solid $backgroundSecondary;
        border-right: none;
        background-color: red;
        padding: 0;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        &:focus {
            outline: none;
        }
        transform: rotateZ(180);
    }
    
    ::-webkit-slider-runnable-track {
        background: transparent;
    }
    
    ::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0px; /* 1 */
        height: 40px;
        background: transparent;
        box-shadow: -100vw 0 0 100vw $backgroundPrimary;
    }
    
    ::-moz-range-track {
        height: 40px;
        background: transparent;
    }
    
    ::-moz-range-thumb {
        height: 40px;
        width: 20px;
        border-radius: 0 !important;
        box-shadow: -100vw 0 0 100vw dodgerblue;
        box-sizing: border-box;
    }
    
    ::-ms-fill-lower { 
        background: dodgerblue;
    }
    
    ::-ms-thumb { 
        background: transparent;
        // border: 2px solid #999;
        height: 40px;
        width: 20px;
        box-sizing: border-box;
    }
    
    ::-ms-ticks-after { 
        display: none; 
    }
    
    ::-ms-ticks-before { 
        display: none; 
    }
    
    ::-ms-track { 
        color: transparent;
        height: 40px;
        border: none;
    }
    
    ::-ms-tooltip { 
        display: none;
    }
    
}

@media (max-width: 300px) {
    .volume-input {
        display: none;
        
    }
}

