.cell {
    display: flex;
    &:hover {
        cursor: pointer;
        opacity: .25;
    }

    //border: 2px solid $backgroundSecondary;
    border-radius: 7px;
    background: white;
    opacity: .1;
    width: 30px;
    height: 30px;
    justify-content:center;
    align-items: center;
    margin: 0 1px;
    color:white;
}

.row-count {
    background: rgba(255,255,255, .2);
    border-radius: 10px;
    font-size: 10px;
    padding: 0;
    .cell {
        background: transparent;
        color: rgba(255,255,255, .5);
        opacity: 1;
        &:hover {
            cursor: auto;
            opacity: 1;
        }
    }

    .cell:nth-child(4n + 1) {
        color: white;
    }
}

.row {
    display: flex;
    flex-direction: row;
    margin:3px;
    margin-left: 0;

    .current {
        opacity: 0.15;
    }
    
    .current + .active {
        opacity: 1;
    }

    .cell:nth-child(4n + 1) {
        opacity: .2;
        &:hover {
            opacity: .5;
        }
    }    

    .cell:nth-child(0) + .active {
        opacity: 1;
    }

    .cell:nth-child(4n) + .selected {
        opacity: .6;
    }
    
    .cell:nth-child(4n + 1) + .active {
        opacity: 1;
        &:hover {
            opacity: .8!important;
        }
    }

    .cell:nth-child(4n) + .current {
        opacity: .3;
    }

    .cell:nth-child(1) + .selected {
        opacity: .5;
    }

    .selected {
        opacity: .5!important;
    }

    .active {
        opacity: 1 !important; 
        &:hover {
            opacity: .8!important;
        }
    }

    .active + .selected {
        &:hover {
            opacity: 1;
        }
    }    
}

.matrix {
    display: inline-block;
}

.hidden {
    display: none;
}

