.cell {
    display: flex;
    &:hover {
        cursor: pointer;
        background: rgba(0,0,0,.25);
    }

    border: 1px solid $backgroundPrimary;
    border-radius: 7px;
    background: rgba(0,0,0,.1);
    
    
    width: 30px;
    height: 30px;
    justify-content:center;
    align-items: center;
    margin: 0 1px;
}

.row-count {
    background: $backgroundPrimary;
    border-radius: 10px;
    font-size: 10px;
    padding: 0;
    .cell {
        background: transparent;
        color: white;
        &:hover {
            cursor: auto;
        }
    }

    .cell:nth-child(4n + 1) {
        color: $backgroundSecondary;
    }
}

.row {
    display: flex;
    flex-direction: row;
    margin:3px;
    margin-left: 0;

    .current {
        background: rgba(0,0,0,.25);
    }
    
    .current + .active {
        background: rgba(0,0,0,1);
    }

    .cell:nth-child(4n + 1) {
        background: rgba(0,0,0,.2);
        &:hover {
            background: rgba(0,0,0,.5);
        }
    }    

    .cell:nth-child(0) + .active {
        background: rgba(0,0,0,1);
    }

    .cell:nth-child(4n) + .selected {
        background: rgba(0,0,0,.4);
    }
    
    .cell:nth-child(4n + 1) + .active {
        background: rgba(0,0,0,1);
        &:hover {
            background: rgba(0,0,0,.2)!important;
        }
    }

    .cell:nth-child(4n) + .current {
        background: rgba(0,0,0,.25);
    }

    .cell:nth-child(1) + .selected {
        background: rgba(0,0,0,.4);
    }

    .cell:nth-child(0) + .selected {
        background: rgba(0,0,0,.4);
    }

    .selected {
        background: rgba(0,0,0,.4);
    }
}

.matrix {
    display: inline-block;
}

.hidden {
    display: none;
}

