.addingCardImage{
    background-color: #E3F2FD;
    color:#C0C0C0;
    border-bottom:1px solid #C0C0C0;
    height:80%;
    font-size:80px;
}
.addingCardText{
    text-align: center;
    height:20%;
}
.addingCard{
    display:flex;
    align-items: center;
    justify-content: center;
}