.cards {
    display: flex;
    flex-wrap: wrap;
    padding:100px;
}
.content{
    padding:15px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin:30px;
    flex-direction: column;
    width:320px;
    overflow: hidden;
    min-height: 300px;
}
.cardBody {
    border-bottom:1px solid #C0C0C0;
    word-wrap: break-word;
    text-align:center;
    height:70%;
}
.cardHeader{
    border-bottom:1.5px solid #DCDCDC;
    position: relative;
    height:20%;
}
  
.deleteButton{
    position: absolute;
    top: 0px;
    right: 0px;
    padding:2%;
    font-size:30px;
    color:#E61610;
}
.descr{
    margin-bottom:20px;
}
.rightButton{
    float:right;
    margin-right:10px;
}
.leftButton{
    margin-left:10px;
}
.button{
    background:none;
    border:none;
    outline:none;
}