.button {
    display: inline;
}
.rightButton{
    float: right;
}
.cardButton{
    background: none;
    border: none;
    outline: none;
}

.confirmButton{
    border: none;
    outline: none;
    color: white;
    background: #00B8DB;
    padding: 10px;
    margin-left: 10px;
}
.cardButton:hover{
    cursor: pointer;
}
.cancelButton{
    cursor: pointer;
    float:right;
    border:none;
    outline:none;
    color:grey;
    background:transparent;
    padding:10px;
    margin-right:10px;
}
.confirmButton{
    cursor: pointer;
    border:none;
    outline:none;
    color:white;
    background:#00B8DB;
    padding:10px;
    margin-left:10px;
}
.confirmButton:hover{
    background:rgb(73, 210, 238);
}

.cursor-pointer {
    cursor: pointer;
}

.confirm-button {
    background: #00B8DB;
    width: 80px;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    margin-left: 20px;
}

.cancel-button{
    color: grey;
    float: right;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    margin-right: 10px;
}