
.red {
    color: red;
    padding-left: 1px;
} 

.field {
    display: flex; 
    padding: 5px;
    margin: 5px;
    text-align: left;
    flex-wrap: wrap;
}

.item {
    display: flex; 
   
  }

.left{
    width: 200px;   
    text-align: left;
}

.right{
    text-align: right;
}

.project{
    display: flex; 
    flex-direction: column;
}

.width300{
    width: 300px;
}

.main{
    display: block;
}

.form-button {
	background: #ddd;
	border-radius: 5px;
}

.form-button:hover {
	background: #eee;
}

.form-button:active {
	background: #fff;
}

input, select, textarea{
    display: inline;
    border: 1px solid #000;
	padding: 5px;
	margin: 5px;
}

a{
    color: gray;
    text-decoration: none;
}