.related-sample{
    display: flex;
    flex-direction: row;
    background:grey;
    border-radius: 10px;
    width:250px;
    height:70px;
    margin: 30px;
}
.related-sample-description{
    padding: 10px;
}
.related-sample-name{
    font-size:20px;
}

.related-sample-image {
    border-radius: 10px 0 0 10px;
    width: 70px;
    height: 70px;
}

