.related-sample{
    display: flex;
    flex-direction: row;
    background:grey;
    border-radius: 10px;
    width:250px;
    height:73px;
    margin-left:1px;
}
.related-sample-description{
    padding: 10px;
}
.related-sample-name{
    font-size:20px;
}