.red {
    color: red;
    padding-left: 1px;
}

.wrong-input {
    border: 1px solid red;
}

.field {
    display: flex;
    padding: 5px;
    margin: 5px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: inline-flex;
    align-items: center;
}

.left {
    width: 200px;
    text-align: left;
}

.right {
    text-align: right;
    width: 300px;
}

.project {
    display: flex;
    flex-direction: column;
}

.width300 {
    width: 300px;
}

.main {
    display: block;
}

.form-button {
    background: #ddd;
    border-radius: 5px;
}

.form-button:hover {
    background: #eee;
}

.form-button:active {
    background: #fff;
}

input,
select,
textarea {
    display: inline;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
}

a {
    color: gray;
    text-decoration: none;
}

.container-view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.validator {
    display: flex;
    width: 100px;
    margin: 5px;
    font-size: small;
}

.hidden{
    display: none;
}