.sound-type-form {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 75px;
    color: $formFontColor;
    background-color: white;
            
    .visbility-hidden {
        visibility: hidden;
    }

    .form-buttons {
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: 25px 0 20px 0;

        .cancel-button {
            color: black;
            border: 1px solid black;
        }
    }
    
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0 0 0;
        height: 100px;
        width: 100px;
        background-color: $mainBackgroundColor;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 125px;
        overflow: hidden;

        &:hover {
            .icon-text {
                color: black;
                font-size: 14px;
            }
        }

        .icon-text {
            font-size: 0px;
        }
    }
    
    .form-row {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        .form-text {
            width: 100px;
        }

        .image-width {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    
        .validation {
            width: 300px;
            display: flex;
            flex-direction: row;
            align-items: baseline;

            #upload,#play-sound{
                color:grey;
                font-size:2em;
            }
    
            .icon-red {
                color: red;
            }

            .input-red {
                border: 1px solid red;
            }

            .required {
                color: red;
                margin-left: 20px;
            }

            #name {
                width: 100%;
            }
        
            #icon-src {
                width: 100%;
            }

            input {
                margin: 0;
                width: 200px;
            }

            .color-label {
                position: relative;
                overflow: hidden;
                width: 22px;
                height: 22px;
                border: 1px solid #ddd;
                border-radius: 40px;

                .input-color-label {
                    cursor: pointer;
                    text-decoration: underline;
                    color: #fff;
                }
            }
            
            input[type="color"] {
                cursor: pointer;
                position: absolute;
                right: -8px;
                top: -10px;
                width: 40px;
                height: 40px;
                border: none;
            }
        
            .input-upload-label {
                overflow: hidden;
            }
        }
    }
}

select{
    width: 100%;
    margin: 0px;
}