.add-sound {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sound-label {
        width: 100%;
        max-width: 500px;

        .form-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
        }

        .sound-form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            font-size: 16px;
            color: $formFontColor;

            .form-row {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: center;

                .text-part {
                    display: flex;
                    flex-direction: column;
                    height: 160px;
                    justify-content: space-around;
                }

                #upload {
                    width: 25px;
                    height: 20px;
                }

                .play-sound {
                    cursor: pointer;
                }

                .upload-play {
                    margin-left: 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                i {
                    margin: 0;
                    color: gray;
                    height: 20px;
                }

                .red {
                    color: red;
                }
            }

            .margin-top-menu {
                margin-top: 20px;
                width: 200px;
            }
            
            .input-part {
                display: flex;
                flex-direction: column;

                label {
                    margin: 0px;
                }

                .wrong-input {
                    border: 2px solid red;
                }

                .wrong-upload {
                    color: red;
                }
            }

            .input-part * {
                margin-top: 20px;
            }
       
            .hidden {
                display: block;
                margin-left: 20px;
                margin-top: 25px;
            }

            .hidden-text {
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .required {
                    visibility: hidden;
                }
                
                .show {
                    visibility: visible;
                }
            }
        }
    }
    .cursor-pointer {
        cursor: pointer;
    }
}

.inputfile {
    display: none;
}