.matrix{
    display:flex;
    justify-content: center;
    align-content: center;
}


.sound{
    padding: 10px;
    border-radius: 15px;
    background: #1f1f1f;
    margin:5px;
    width:60px;
    text-align:center;
    color:white;
}