.element-grid-row {
    border-bottom: 1px solid #cccccc;
    color: #000;
    height: $gridRowHeight;
}

.element-action-buttons {
    .fas {
        font-size: 20px;
        padding-left: 20px;
        cursor: pointer;
        transition-duration: 0.1s;
        color: #000;
        
        &:hover {
            color: $iconActionMouseOver;
        }
    }
}

#element-grid-header {
    background-color: $backgroundSecondary;
    color: #1f1f1f;
    height: $gridRowHeight;

    div:hover {
        cursor: default;
    }
    
}

.element-cell-sound, .element-cell-type, .actions-cell {
    word-wrap: break-word;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
    padding: 15px;
    padding-left: 40px;
    padding-right: 0px;
}

.element-cell-sound {
    width: calc(50% - 85px);
    transition-duration: 0.2s;
    text-align: left;
    min-width: 150px;
    word-wrap: none;
}

.element-cell-type {
    width: calc(33% - 55px);
    transition-duration: 0.2s;
    text-align: left;
    min-width: 150px;
    word-wrap: none;
}


.element-grid-row:nth-child(odd) {
    background-color: $gridOddBgColor;
}

.element-grid-row:nth-child(even) {
    background-color: $gridEvenBgColor;
}

.element-grid-row:hover {
    background-color: $gridMouseOverRow;
}

@media (max-width: 550px) {

    .element-grid-header {
        .element-cell {
            padding: 5px;
            text-align: center;
        }
    }
    
}